
body {
  background-color: #FCF7F8; 
  
} 
*{
     padding:10px;
     margin:20px;
     text-align: center;
  
  }
@keyframes color_change {
    from {color: aqua}
    to {color:lightgreen}
}
h1 {
    animation-name: color_change;
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
    font-size: 60px;
}

p{
    font-size: 25px;
}

input{
    width: 500px;
    border-radius: 5px;
    border-color: #391463; 
}